.btn-primary {
  color: #3b4d3a;
  background-color: #acc4cc;
  border-color: #052718; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #acc4cc;
  background-color: #052718;
  border-color: #052718; /*set the color you want here*/
}
